<div class="product-form__input product-form__input--dropdown">
  <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
    {{ option.name }}
  </label>
  <div class="select">
    <select
      id="Option-{{ section.id }}-{{ forloop.index0 }}"
      class="select__select variant-size-dropdown"
      onchange="changeSize(this.options[this.selectedIndex].value)"
      >
      <option value="">--Select Option--</option>
      {%- for value in option.values -%}
        <option value="{{ value | escape }}">
          {% if option_disabled -%}
            {{- 'products.product.value_unavailable' | t: option_value: value -}}
          {%- else -%}
            {{- value -}}
          {%- endif %}
        </option>
      {%- endfor -%}
    </select>
    {% render 'icon-caret' %}
  </div>
</div>

<script>
  // On page reload unselect size option
  document.addEventListener('DOMContentLoaded', function(){
    clearVariant();
  });

  // Clears varaint in form to be submitted
  function clearVariant() {
    document.querySelector('form input.product-variant-id').value = '';
  }

  function checkSize() {
    if(document.querySelector('.variant-size-dropdown').value == '') {
      clearVariant();
    }
  }

  function changeSize(size) {
    // Uncheck variant if size is set to null
    if(size == ''){
      clearVariant();
      return false;
    }

    // Check if default variant is not set and size selected is "Small"
    if( size == 'Small' && document.querySelector('form input.product-variant-id').value == ''){
      document.querySelector('input[name="Size"][value="'+ size +'"]').checked = false;
    }

    document.querySelector('input[name="Size"][value="'+ size +'"]').click();
  }
</script>
